# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
coverage.xml

# Distribution / packaging
dist/
*.egg-info/
.idea/
.pytest_cache/
build/


# Sphinx documentation
docs/_build/

# Environments
venv/
